<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'remote-wiring-general-public' in resource group 'AppInsights-MakerProjects' -->
  <InstrumentationKey>aa0e48d9-534e-4364-b071-3558c54e6a8e</InstrumentationKey>
</ApplicationInsights>