<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Remote Arduino General - Public' in resource group 'Group-1' -->
  <InstrumentationKey>9ad58912-6aaf-467a-9317-6bc053e5de9a</InstrumentationKey>
</ApplicationInsights>